@model GUDB.Model.DamagePeople
@{
    ViewBag.Title = "更改 ";
    Layout = null;
}



@*<h2>UserLook</h2>*@


<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/bootstrap.js"></script>

@Styles.Render("~/bundles/Bootstarp/css")
@Styles.Render("~/bundles/Bootstarp/css")


<script src="~/Content/ceic/WdatePicker/WdatePicker.js"></script>


<script>

    $(function () {
        $("#DEFA").hide();
        $("#PeopleEidCreate").hide();//隐藏件
        $("#PeopleIidCreate").hide();

    }

    );
</script>

<script src="~/Content/Select/verSelect.2.0.js"></script>

<script>

    var Unitdata;
    var select = new verjs_select();
    $.ajax({
        type: 'get',
        url: "../investigatorData",
        dataType: "json",   //服务器响应的数据类型
        success: function (data) {
            //处理data
            Unitdata = data;
            //alert(Unitdata);
            ////console.log(Unitdata)

            //alert(Unitdata);
            var select = new verjs_select();
            select.render({
                elem: "#search",
                //data: [{ id: 1, name: "123456" }, { id: 2, name: "哈哈哈哈" }],
                data: JSON.parse(Unitdata),   //后台传
                // data: Unitdata,
                init_value: [1],
                checkbox: false,

            });
            //alert(JSON.parse(Unitdata));




        },
        error: console.log("加载中")
    });

    $(document).ready(function () {
        $("form").submit(function (e) {
            var EID = @ViewBag.EId;
            //////alert(EID);
            $("#PeopleIidCreate").val(JSON.stringify(select.get_form_value('search')));
            $("#PeopleEidCreate").val(EID);

           // $("#PeopleIidCreate").val("1");
            //alert($("#PeopleEidCreate").val());
            if ($("#i1").val() == "" || $("#i1").val() == null) {
                alert("身份证号不能为空");
                console.log(JSON.stringify(select.get_form_value('search')));
                //alert(JSON.stringify(select.get_form_value('search')));

                return false;
            }
            else {
                if ($("#i2").val() == "" || $("#i2").val() == null) {
                    alert("姓名不能为空"); return false;
                }
                else {
                    if (JSON.stringify(select.get_form_value('search')) == '""' || JSON.stringify(select.get_form_value('search')) == null || JSON.stringify(select.get_form_value('search')) == "")
                    {

                        alert("调查人员不能为空"); return false;
                    }

                    else {
                        alert("Submitted……");
                        //////alert("创建成功")
                        //alert(JSON.stringify(select.get_form_value('search')))
                        $("#PeopleIidCreate").val(JSON.stringify(select.get_form_value('search')));
                        $("#PeopleEidCreate").val(EID);
                        // alert($("#PeopleEidCreate").val());
                    };
                }

            }
     


        });
    });


</script>

@using (Html.BeginForm("EarthQuakeDetailPeopleCreate", "Admin", FormMethod.Post, new { name = "input" }))

    {


    <!--首先设置时间Id-->
    @Html.EditorFor(model => model.EId, new { htmlAttributes = new { @class = "form-control", @value = ViewBag.EId, @id="PeopleEidCreate" } })
    @Html.EditorFor(model => model.IId, new { htmlAttributes = new { @class = "form-control", @value = "1", @id = "PeopleIidCreate" } })
    


    @Html.AntiForgeryToken()
<div class="alert alert-warning alert-dismissable">
    <button type="button" class="close" data-dismiss="alert"
            aria-hidden="true">
        &times;
    </button>
    你正在添加地质灾害 @ViewBag.EId 伤亡人员
</div>


    <table class="table table-hover">

        <tbody>
            <!--UID-->
            <tr>
                <td>
                    身份证号

                </td>




                @*<td><a href="~/Admin/Change?key=@Html.DisplayFor(model => model.UId) && type=UId ">修改信息</a></td>*@





                <td>


                    <div class="col-lg-4">

                        @Html.EditorFor(model => model.DPId, new { htmlAttributes = new { @class = "form-control", @id = "i1", placeholder = "唯一标识，后期不可修改,不可为空" } })


                    </div>
                </td>

            </tr>

            <tr>
                <td>
                    姓名

                </td>




                @*<td><a href="~/Admin/Change?key=@Html.DisplayFor(model => model.UId) && type=UId ">修改信息</a></td>*@





                <td>


                    <div class="col-lg-4">

                        @Html.EditorFor(model => model.DPName, new { htmlAttributes = new { @class = "form-control", @id = "i2" } })


                    </div>
                </td>

            </tr>





            <tr>
                <td>
                    电话

                </td>



                <td>


                    <div class="col-lg-4">

                        @Html.EditorFor(model => model.DPPhone, new { htmlAttributes = new { @class = "form-control", @id = "i3" } })



                    </div>
                </td>

                @*<td><a href="~/Admin/Change?key=@Html.DisplayFor(model => model.UId) && type=UPhone ">修改信息</a></td>*@

            </tr>


            <tr>
                <td>
                    电邮

                </td>



                <td>


                    <div class="col-lg-4">

                        @Html.EditorFor(model => model.DPEmail, new { htmlAttributes = new { @class = "form-control", @id = "i4" } })



                    </div>
                </td>

                @*<td><a href="~/Admin/Change?key=@Html.DisplayFor(model => model.UId) && type=UPhone ">修改信息</a></td>*@

            </tr>
            <tr>
                <td>
                    其他联系方式

                </td>



                <td>


                    <div class="col-lg-4">

                        @Html.EditorFor(model => model.DPOtherConnect, new { htmlAttributes = new { @class = "form-control", @id = "i5" } })



                    </div>
                </td>

                @*<td><a href="~/Admin/Change?key=@Html.DisplayFor(model => model.UId) && type=UPhone ">修改信息</a></td>*@

            </tr>
            <tr>
                <td>
                    伤害程度

                </td>



                <td>


                    <div class="col-lg-4">

                        @Html.EditorFor(model => model.DPLevel, new { htmlAttributes = new { @class = "form-control", @id = "i6" } })



                    </div>
                </td>

                @*<td><a href="~/Admin/Change?key=@Html.DisplayFor(model => model.UId) && type=UPhone ">修改信息</a></td>*@

            </tr>

            <tr>
                <td>
                    关联联系人姓名

                </td>



                <td>


                    <div class="col-lg-4">

                        @Html.EditorFor(model => model.DPReferPeopleName, new { htmlAttributes = new { @class = "form-control", @id = "i7" } })



                    </div>
                </td>

                @*<td><a href="~/Admin/Change?key=@Html.DisplayFor(model => model.UId) && type=UPhone ">修改信息</a></td>*@

            </tr>

            <tr>
                <td>
                    关联联系人电话

                </td>



                <td>


                    <div class="col-lg-4">

                        @Html.EditorFor(model => model.DPReferPeoplePhone, new { htmlAttributes = new { @class = "form-control", @id = "i8" } })



                    </div>
                </td>

                @*<td><a href="~/Admin/Change?key=@Html.DisplayFor(model => model.UId) && type=UPhone ">修改信息</a></td>*@

            </tr>



            <tr>
                <td>
                    调查人员姓名

                </td>



                <td>


                    <div class="col-lg-4">

                        @*@Html.EditorFor(model => model., new { htmlAttributes = new { @class = "form-control", @id = "i7" } })*@
                        <div id="search"></div>


                    </div>
                </td>

                @*<td><a href="~/Admin/Change?key=@Html.DisplayFor(model => model.UId) && type=UPhone ">修改信息</a></td>*@

            </tr>
        </tbody>

    </table>
    <div class="form-actions no-color">
     <!--   Html.ActionLink("返回", "EarthQuakeDetailPeopleList", new { tid = ViewBag.Type })  <!--参数返回类 型 -->
        |


        <input type="submit" value="创建" class="btn btn-default" />
    </div>
}


<script src="~/Content/Select/verSelect.2.0.js"></script>
<script>

</script>

