@model GUDB.Model.Event

@{
    ViewBag.Title = "更改 ";
    Layout = null;
}



@*<h2>UserLook</h2>*@


<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/bootstrap.js"></script>

@Styles.Render("~/bundles/Bootstarp/css")
@Styles.Render("~/bundles/Bootstarp/css")

<script>

    $(function () {
        $("#i1").hide();
    }
    );
</script>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close" data-dismiss="alert"
                aria-hidden="true">
            &times;
        </button>
        你正在删除   @Html.DisplayFor(model => model.ETime) 在 经度为 @Html.DisplayFor(model => model.ELat)  纬度为 @Html.DisplayFor(model => model.ELong)  @Html.DisplayFor(model => model.ELocation) 地区 发
        生的 @Html.DisplayFor(model =>model.Type.TName)
    </div>

    <div>
        <table class="table table-hover">

            <tbody>


                <!--UID-->
                <tr>
                    <td>
                        ID

                    </td>



                    <td>

                        @Html.DisplayFor(model => model.EId)
                    </td>


                    @*<td><a href="~/Admin/Change?key=@Html.DisplayFor(model => model.UId) && type=UId ">修改信息</a></td>*@

                <td>


                    <div class="col-lg-4">

                        @Html.EditorFor(model => model.EId, new { htmlAttributes = new { @class = "form-control", id = "i1" } })


                    </div>
                </td>
                </tr>



                <!--UName-->
                <tr>
                    <td>

                        发生时 刻
                    </td>

                    <td>

                        @Html.DisplayFor(model => model.ETime)
                    </td>




                    @*<td><a href="~/Admin/Change?key=@Html.DisplayFor(model => model.UId) && type=UName ">修改信息</a></td>*@



                </tr>



                <!--UP  a  s-->

                <tr>
                    <td>
                        经度
                    </td>

                    <td>

                        @Html.DisplayFor(model => model.ELat)
                    </td>


        
                    @*<td><a href="~/Admin/Change?key=@Html.DisplayFor(model => model.UId) && type=UPhone ">修改信息</a></td>*@

                </tr>



                <!--UPhone-->

                <tr>
                    <td>
                        纬度

                    </td>

                    <td>

                        @Html.DisplayFor(model => model.ELong)
                    </td>



                    @*<td><a href="~/Admin/Change?key=@Html.DisplayFor(model => model.UId) && type=UPhone ">修改信息</a></td>*@

                </tr>




                <!--邮 箱-->
                <tr>
                    <td>
                        位置
                    </td>

                    <td>

                        @Html.DisplayFor(model => model.ELocation)
                    </td>

                </tr>



                <!--真名字-->
                <tr>
                    <td>

                        事件影响范围

                    </td>

                    <td>

                        @Html.DisplayFor(model => model.ERange)
                    </td>


                    @*<td><a href="~/Admin/Change?key=@Html.DisplayFor(model => model.UId) && type=UIdName ">修改信息</a></td>*@


                </tr>



                <!--身份证-->
                <tr>
                    <td>
                        损失描述

                    </td>

                    <td>

                        @Html.DisplayFor(model => model.EDamageDes)
                    </td>

                    @*<td><a href="~/Admin/Change?key=@Html.DisplayFor(model => model.UIdNumber) && type=UIdNumber">修改信息</a></td>*@

   
                </tr>


                <!-- 用户其它联系方式-->
                <tr>
                    <td>
                        事件等级
                    </td>

                    <td>

                        @Html.DisplayFor(model => model.Elevel)
                    </td>

                </tr>


                <tr>
                    <td>

                        地质特点描述
                    </td>

                    <td>

                        @Html.DisplayFor(model => model.EEarthDes)
                    </td>

                    @*<td><a href="~/Admin/Change?key=@Html.DisplayFor(model => model.UIdNumber) && type=UIdNumber">修改信息</a></td>*@



            </tbody>
        </table>
    </div>

    <br />



    <div class="form-actions no-color">
        @Html.ActionLink("返回列表", "EarthQuakeList",new { tid = ViewBag.Type})
        |



        <input type="submit" value="删除" class="btn btn-default" />

    </div>


}

