

@using GUDB.Model;
@using PagedList.Mvc
@model PagedList.IPagedList<Investigator>



@{
    Layout = null;
    ViewBag.Title = "iNVESTIGATOR";
}





<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/bootstrap.js"></script>

@Styles.Render("~/bundles/Bootstarp/css")
@Styles.Render("~/bundles/Bootstarp/css")


<div class="alert alert-success alert-dismissable">
    <button type="button" class="close" data-dismiss="alert"
            aria-hidden="true">
        &times;
    </button>
    你正在查看所有调查人员
</div>


<div>
    <div class="col-md-4 column"></div>

    <div class="col-md-4 column"></div>
    <div class="col-md-4 column"></div>

    <div class="col-md-4 column">

        <form class="navbar-form navbar-left" role="search">

            <div class="form-group">
                <input type="text" id="keyword" class="form-control" placeholder="输入" />


                <div class="btn-group-vertical">
                    <div class="btn-group-vertical">
                        <button type="button" onclick="Get()" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            搜索
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a id="a0">身份证号码</a></li>
                            <li><a id="a1">姓名</a></li>
                            <li><a id="a2">电话号码</a></li>
                            <li><a id="a3">电子邮箱</a></li>





                        </ul>
                    </div>
                </div>
            </div>

        </form>



    </div>




</div>


<br />

<br />




<table class="table">
    <tr>

        <th>身份证号</th>
        <th>姓名</th>
        <th>电话</th>
        <th>电子邮箱</th>
        <th>所在单位</th>




        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.IId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IPhone)
            </td>



            <td>
                @Html.DisplayFor(modelItem => item.IEmail)
            </td>


            
            <td>@Html.DisplayFor(modelItem=>item.Unit.UName)</td>



            <td>
                @Html.ActionLink("修改", "InvestigatorChange", new { id = item.IId }) |
                @Html.ActionLink("查看", "investigatorLook", new { id = item.IId }) |
                @Html.ActionLink("删除", "investigatorDelete", new { id = item.IId })|
                @Html.ActionLink("参与调查的事件", "investigatorEvent", new { id = item.IId })   |
            </td>
        </tr>
    }

</table>


<div>
    @*分页主要代码*@
    每页 @Model.PageSize 条记录，共 @Model.PageCount 页，当前第 @Model.PageNumber 页
    @Html.PagedListPager(Model, page => Url.Action("investigatorList", new { page }))
</div>

<script>
    function Get() {
        $(function () {
            //               /alert($("#keyword").val());
            $href = $("#keyword").val();
            $('#a0').attr('href', 'investigatorList?key=' + $href + '&&type=0');
            $('#a1').attr('href', 'investigatorList?key=' + $href + '&&type=1');
            $('#a2').attr('href', 'investigatorList?key=' + $href + '&&type=2');
            $('#a3').attr('href', 'investigatorList?key=' + $href + '&&type=3');
            $('#a4').attr('href', 'investigatorList?key=' + $href + '&&type=5');
            $('#a5').attr('href','investigatorList?key=' + $href + '&&type=4');


            /    ////        alert($('#a0').attr('href'))
        });
    }
</script>

@*<script>
        function SearchUser(i){

            $(function () {
                $key = $("#keyword").val();
                $.ajax({
                    type: 'get',
                    url: 'UserList?Id=' + i + '&&type=' + $key,
                    async: true,
                    dataType: "html",//返回整合HTML
                    success: function(data){
                        $(function(){
                            $("#allbody").html(data);
                        });
                    }
                });


            });
        }
    </script>*@





