
@model GUDB.Model.Unit

@{
    ViewBag.Title = "更改 ";
    Layout = null;
}



@*<h2>UserLook</h2>*@


<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/bootstrap.js"></script>

@Styles.Render("~/bundles/Bootstarp/css")
@Styles.Render("~/bundles/Bootstarp/css")


<script>

    $(function () {
        $("#i1").hide();
        $("#i2").hide();
        $("#i3").hide();
        $("#i4").hide();
        $("#i5").hide();
        $("#i6").hide();

        $("#i8").hide();
        $("#i7").hide();

    }
    );
</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
        <div class="alert alert-warning alert-dismissable">
            <button type="button" class="close" data-dismiss="alert"
                    aria-hidden="true">
                &times;
            </button>
            你正在修改调查单位 @Html.DisplayFor(model => model.UName) 信息
        </div>



        <hr />
        <table class="table table-hover">

            <tbody>


                <!--UID-->
                <tr>
                    <td>
                        单位ID

                    </td>



                    <td>

                        @Html.DisplayFor(model => model.UId)
                    </td>


                    @*<td><a href="~/Admin/Change?key=@Html.DisplayFor(model => model.UId) && type=UId ">修改信息</a></td>*@

                    <td>
                        <a onclick="$(function () {
                         $('.n1').show();
                 } );" href="javascritp:void(0)">修改</a>
                    </td>



                    <td>


                        <div class="col-lg-4">


                            <!--唯一标识-->
                            <input class="form-control l1  n1" id="disabledInput " type="text" placeholder="禁止修改" disabled>


                            @Html.EditorFor(model => model.UId, new { htmlAttributes = new { @class = "form-control", id = "i1" } })


                        </div>
                    </td>

                </tr>



                <!--UName-->
                <tr>
                    <td>

                        单位名
                    </td>

                    <td>

                        @Html.DisplayFor(model => model.UName)
                    </td>



                    @*<td><a href="~/Admin/Change?key=@Html.DisplayFor(model => model.UId) && type=UName ">修改信息</a></td>*@


                    <td>
                        <a onclick="$(function () {
                         $('#i2').show();
                 } );" href="javascritp:void(0)">修改</a>
                    </td>



                    <td>


                        <div class="col-lg-4">

                            @Html.EditorFor(model => model.UName, new { htmlAttributes = new { @class = "form-control", @id = "i2" } })



                        </div>
                    </td>
                </tr>



                <!--UP  a  s-->

                <tr>
                    <td>
                        单位地址

                    </td>

                    <td>

                        @Html.DisplayFor(model => model.UAddress)
                    </td>


                    <td>
                        <a onclick="$(function () {
                         $('#i8').show();
                 } );" href="javascritp:void(0)">修改</a>
                    </td>



                    <td>


                        <div class="col-lg-4">

                            @Html.EditorFor(model => model.UAddress, new { htmlAttributes = new { @class = "form-control", @id = "i8" } })



                        </div>
                    </td>

                    @*<td><a href="~/Admin/Change?key=@Html.DisplayFor(model => model.UId) && type=UPhone ">修改信息</a></td>*@

                </tr>



                <!--UPhone-->

                <tr>
                    <td>
                        单位邮编

                    </td>

                    <td>

                        @Html.DisplayFor(model => model.UEmail)
                    </td>


                    <td>
                        <a onclick="$(function () {
                         $('#i3').show();
                 } );" href="javascritp:void(0)">修改</a>
                    </td>



                    <td>


                        <div class="col-lg-4">

                            @Html.EditorFor(model => model.UEmail, new { htmlAttributes = new { @class = "form-control", @id = "i3" } })



                        </div>
                    </td>

                    @*<td><a href="~/Admin/Change?key=@Html.DisplayFor(model => model.UId) && type=UPhone ">修改信息</a></td>*@

                </tr>




                <!--邮 箱-->
                <tr>
                    <td>
                        单位性质
                    </td>

                    <td>

                        @Html.DisplayFor(model => model.UProperty)
                    </td>


                    <td>
                        <a onclick="$(function () {
                         $('#i4').show();
                 } );" href="javascritp:void(0)">修改</a>
                    </td>



                    <td>


                        <div class="col-lg-4">

                            @Html.EditorFor(model => model.UProperty, new { htmlAttributes = new { @class = "form-control", @id = "i4" } })



                        </div>
                    </td>

                    @*<td><a href="~/Admin/Change?key=@Html.DisplayFor(model => model.UId) && type=UMail ">修改信息</a></td>*@

                </tr>



             



            </tbody>
        </table>
    </div>

    <br />



    <div class="form-actions no-color">
        @Html.ActionLink("返回列表", "UnitList")
        |



        <input type="submit" value="修改" class="btn btn-default" />

    </div>


}

