
@using Microsoft.Owin.Security;@using System.Web.Security


@using GUDB.BLL;

@using Microsoft.AspNet.Identity;

@if (Request.IsAuthenticated)
    


{
    //    HttpContext context = System.Web.HttpContext.Current;
    //    var cookie = context.Request.Cookies[FormsAuthentication.FormsCookieName];

    //    //Response.Write(dtoModel);

    //    //6.将上下文中的User数据实例化，通过MyFormsPrincipal的构造函数 ticket，userData
    //    var ticket = FormsAuthentication.Decrypt(cookie.Value);
    //    var dtoModel = ticket.UserData;
    //    User user = Newtonsoft.Json.JsonConvert.DeserializeObject<User>(dtoModel);
    //    //context.User = new MyFormsPrincipal<User>(ticket, dtoModel)




    <div class="id">
        <div>
            <ul class="nav navbar-nav navbar-right">

                <li>@Html.ActionLink("你好！ " + Context.User.Identity.GetUserName(), "Admin", new { Controller="Account" , name=Context.User.Identity.GetUserName()})</li>
                <li>@Html.ActionLink("注销", "Log_off", "Account")</li>
                
            </ul>
        </div>
    </div>

}

else
{



    <div class="id">
        <div>
            <ul class="nav navbar-nav navbar-right">

                <li>@Html.ActionLink("注册", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                <!-- <li>@Html.ActionLink("注册", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>-->

                <li>@Context.User.Identity.GetUserName() </li>
                <li>@Html.ActionLink("登录", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
            </ul>
        </div>
    </div>

}