@using PagedList.Mvc
@using GUDB.Model

@model PagedList.IPagedList<DamagePeople>

@{
    ViewBag.Title = "伤亡人员详细名单";
}



<table class="table table-hover">
    <caption>
        <h4>@Html.DisplayFor(model => model.FirstOrDefault().Event.ELocation)   @Html.DisplayFor(model => model.FirstOrDefault().Event.ETime)  地震伤亡人员详细名单</h4>
    </caption>


    <!--表头-->
    <thead>


        <tr>
            <th>身份证号码</th>
            <th>姓名</th>
            <th>电话</th>
            <th> 电邮</th>
            <th>其它联系方式 </th>
            <th>所受伤害程度</th>
            <th>关联联系人姓名</th>
            <th>关联联系人电话</th>

        </tr>
    </thead>



    <tbody>






        @foreach (var item in Model)
        {
        <tr>
            <!--<th>身份证号码</th>-->
            <td>@item.DPId</td>
            <!--   <th>姓名</th>-->
            <td>@item.DPName</td>

            <!--<th>电话</th>-->
            <td>@item.DPPhone</td>
            <!--<th> 电邮</th> -->
            <td>@item.DPEmail</td>
            <!--            <th>损失建筑产权人单位或个人联系电话</th>-->
            <td>@item.DPOtherConnect</td>
            <td>@item.DPLevel</td>
            <!--<th>所受伤害程度</th>-->
            <!-- <th>关联联系人姓名</th>-->
            <td>@item.DPReferPeopleName</td>

            <td>@item.DPReferPeoplePhone</td>
            <!--<th>关联联系人电话</th></th>-->
            <td>@item.Investigator.IName</td>
         

        </tr>

        }

    </tbody>
</table>



<div>
    @*分页主要代码*@
    每页 @Model.PageSize 条记录，共 @Model.PageCount 页，当前第 @Model.PageNumber 页
    @Html.PagedListPager(Model, page => Url.Action("EarthQuakeDamageBuilding", new { page }))
</div>


