@using GUDB.Model
@*@model IEnumerable<GUDB.Model.DamageBuilding>*@

@using PagedList.Mvc
@model PagedList.IPagedList<DamageOther>

@{
    ViewBag.Title = "地质灾害所有其它损失";
}

<table class="table table-hover">

    <caption>
        <h4>@Html.DisplayFor(model => model.FirstOrDefault().Event.ELocation)   @Html.DisplayFor(model => model.FirstOrDefault().Event.ETime) 地震建筑损失</h4>
    </caption>


    <!--表头-->
    <thead>


        <tr>
            <th>其它损失编码</th>
            <th> 损失描述</th>
            <th>损失数量</th>
            <th>损失折算金额</th>
            <th>损失产权人单位或个人姓名</th>
            <th>损失产权人单位或个人联系电话</th>
            <th>其它说明</th>
            <th>调查人员 </th>
            <th> 调查单位
</tr>
    </thead>



    <tbody>






        @foreach (var item in Model)
        {
        <tr>
            <!-- <th>其它损失编码</th>-->
            <td>@item.DOId</td>
            <!--  损失描述-->
            <td>@item.DODes</td>
            <!-- <th>损失数量</th>-->
            <td>@item.DONumber</td>
            <!--<th>损失折算金额</th>-->
            <td>@item.DOMoney</td>
            <!--   <th>损失产权人单位或个人姓名</th>-->
            <td>@item.DOName</td>
            <!--   <th>损失产权人单位或个人联系电话</th>-->
            <td>@item.DOPhone</td>
            <!--<th>其他说明</th>-->
            <td>@item.DOOtherDes</td>
            <!--<th>调查人员</th>-->
            <td>@item.Investigator.IName</td>
            <!--<th>调查单位</th>-->
            <td>@item.Investigator.Unit.UName</td>

        </tr>

        }

    </tbody>
</table>



<div>
    @*分页主要代码*@
    每页 @Model.PageSize 条记录，共 @Model.PageCount 页，当前第 @Model.PageNumber 页
    @Html.PagedListPager(Model, page => Url.Action("EarthQuakeDamageOther", new { page }))
</div>


