@model GUDB.Model.User

@{
    ViewBag.Title = "更改 ";
    Layout = null;
}



@*<h2>UserLook</h2>*@
<script src="~/Content/ceic/WdatePicker/WdatePicker.js"></script>

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/bootstrap.js"></script>

@Styles.Render("~/bundles/Bootstarp/css")
@Styles.Render("~/bundles/Bootstarp/css")


<script>

    $(function () {
        $("#i1").hide();
        $("#i2").hide();
        $("#i3").hide();
        $("#i4").hide();
        $("#i5").hide();
        $("#i6").hide();

        $("#i8").hide();
        $("#i7").hide();

        $('#i9').hide();




        //纵览全局 总蓝

        $("#i").hide();



    }
    );
</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close" data-dismiss="alert"
                aria-hidden="true">
            &times;
        </button>
      您正在修改信息
    </div>

    <div>
        <table class="table table-hover">

            <tbody>


                <!--UID-->
                <tr>
                    <td>
                        ID

                    </td>



                    <td>

                        @Html.DisplayFor(z=>z.UId)
                    </td>


                    @*<td><a href="~/Admin/Change?key=@Html.DisplayFor(model => model.UId) && type=UId ">修改信息</a></td>*@

                    <td>
                        <a onclick="$(function () {
                         $('.n1').show();
                 } );" href="javascritp:void(0)">修改</a>
                    </td>



                    <td>


                        <div class="col-lg-4">


                            <!--唯一标识-->
                            <input class="form-control l1  n1" id="disabledInput " type="text" placeholder="不可 修改" disabled>


                            @Html.EditorFor(model => model.UId, new { htmlAttributes = new { @class = "form-control", id = "i1" } })


                        </div>
                    </td>

                </tr>



                <!--UName-->
                <tr>
                    <td>

                        用户名
                    </td>

                    <td>

                        @Html.DisplayFor(model => model.UName)
                    </td>




                    @*<td><a href="~/Admin/Change?key=@Html.DisplayFor(model => model.UId) && type=UName ">修改信息</a></td>*@


                    <td>
                        <a onclick="$(function () {
                         $('#i2').show();
                 } );" href="javascritp:void(0)">修改</a>
                    </td>



                    <td>


                        <div class="col-lg-4">




                            @Html.EditorFor(model => model.UName, new { htmlAttributes = new { @class = "form-control", @id = "i2" } })



                        </div>
                    </td>

                </tr>



                <!--UP  a  s-->

                <tr>
                    <td>
                        密码
                    </td>

                    <td>

                        @Html.DisplayFor(model => model.UPassword)
                    </td>


                    <td>
                        <a onclick="$(function () {
                         $('#i3').show();
                 } );" href="javascritp:void(0)">修改</a>
                    </td>



                    <td>


                        <div class="col-lg-4">

                            @Html.EditorFor(model => model.UPassword, new { htmlAttributes = new { @class = "form-control", @id = "i3" } })



                        </div>
                    </td>

                    @*<td><a href="~/Admin/Change?key=@Html.DisplayFor(model => model.UId) && type=UPhone ">修改信息</a></td>*@

                </tr>



                <!--UPhone-->

                <tr>
                    <td>
                       
                         电子邮箱
                    </td>

                    <td>

                        @Html.DisplayFor(model => model.UMail)
                    </td>


                    <td>
                        <a onclick="$(function () {
                         $('#i4').show();
                 } );" href="javascritp:void(0)">修改</a>
                    </td>



                    <td>


                        <div class="col-lg-4">

                            @Html.EditorFor(model => model.UMail, new { htmlAttributes = new { @class = "form-control", @id = "i4" } })



                        </div>
                    </td>

                    @*<td><a href="~/Admin/Change?key=@Html.DisplayFor(model => model.UId) && type=UPhone ">修改信息</a></td>*@

                </tr>




                <!--邮 箱-->
                <tr>
                    <td>
                        电话
                    </td>

                    <td>

                        @Html.DisplayFor(model => model.UPhone)
                    </td>


                    <td>
                        <a onclick="$(function () {
                         $('#i5').show();
                 } );" href="javascritp:void(0)">修改</a>
                    </td>



                    <td>


                        <div class="col-lg-4">

                            @Html.EditorFor(model => model.UPhone, new { htmlAttributes = new { @class = "form-control", @id = "i5" } })



                        </div>
                    </td>

                    @*<td><a href="~/Admin/Change?key=@Html.DisplayFor(model => model.UId) && type=UMail ">修改信息</a></td>*@

                </tr>



                <!--真名字-->
                <tr>
                    <td>

                        真实姓名

                    </td>

                    <td>

                        @Html.DisplayFor(model => model.UIdName)
                    </td>


                    @*<td><a href="~/Admin/Change?key=@Html.DisplayFor(model => model.UId) && type=UIdName ">修改信息</a></td>*@


                    <td>
                        <a onclick="$(function () {
                         $('#i6').show();
                 } );" href="javascritp:void(0)">修改</a>
                    </td>



                    <td>


                        <div class="col-lg-4">

                            @Html.EditorFor(model => model.UIdName, new { htmlAttributes = new { @class = "form-control", @id = "i6" } })



                        </div>
                    </td>
                </tr>



                <!--身份证-->
                <tr>
                    <td>
                        身份证 号码
                    </td>

                    <td>

                        @Html.DisplayFor(model => model.UIdNumber)
                    </td>

                    @*<td><a href="~/Admin/Change?key=@Html.DisplayFor(model => model.UIdNumber) && type=UIdNumber">修改信息</a></td>*@

                    <td>
                        <a onclick="$(function () {
                         $('#i8').show();
                 } );" href="javascritp:void(0)">修改</a>
                    </td>






                    <td>


                        <div class="col-lg-4">

                            @Html.EditorFor(model => model.UIdNumber, new { htmlAttributes = new { @class = "form-control", @id = "i8" } })



                        </div>
                    </td>
                </tr>


                <!-- 用户其它联系方式-->
                <tr>
                    <td>
                        其他联系方式
                    </td>

                    <td>

                        @Html.DisplayFor(model => model.UOtherConnect)
                    </td>

                    <td>
                        <a onclick="$(function () {
                         $('#i7').show();
                 } );" href="javascritp:void(0)"> 修改</a>
                    </td>



                    <td>


                        <div class="col-lg-4">

                            @Html.EditorFor(model => model.UOtherConnect, new { htmlAttributes = new { @class = "form-control", @id = "i7" } })



                        </div>
                    </td>
                    @*<td><a href="~/Admin/Change?key=@Html.DisplayFor(model => model.UId) && type=UID ">修改信息</a></td>*@

                </tr>



            </tbody>
        </table>
    </div>

    <br />



    <div class="form-actions no-color">
        @Html.ActionLink("返回", "me", new {name=  Context.User.Identity.Name})
        
        |



        <input type="submit" value="修改" class="btn btn-default" />

    </div>


}

