@model GUDB.Model.User

@{
    ViewBag.Title = "UserLook";
    Layout = null;
}



@*<h2>UserLook</h2>*@


<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/bootstrap.js"></script>

@Styles.Render("~/bundles/Bootstarp/css")
@Styles.Render("~/bundles/Bootstarp/css")
<div>


    <table class="table table-hover">

        <tbody>

            <tr>
                <td>
                    ID

                </td>

                <td>

                    @Html.DisplayFor(model => model.UId)
                </td>

            </tr>



            <tr>
                <td>

                    用户名
                </td>

                <td>

                    @Html.DisplayFor(model => model.UName)
                </td>




            </tr>





            <tr>
                <td>
                   用户密码

                </td>

                <td>

                    @Html.DisplayFor(model => model.UPassword)
                </td>

            </tr>

            <tr>
                <td>
                    真实姓名
                </td>

                <td>

                    @Html.DisplayFor(model => model.UIdName)
                </td>

            </tr>
            <tr>
                <td>
                    
                     身份证号
                </td>

                <td>

                    @Html.DisplayFor(model => model.UIdNumber)
                </td>

            </tr>


            <!-- 倒塌建筑-办公楼-->
            <tr>
                <td>
                   手机号

                </td>

                <td>

                    @Html.DisplayFor(model => model.UPhone)
                </td>

            </tr>


            <tr>
                <td>
                     邮箱

                </td>

                <td>

                    @Html.DisplayFor(model => model.UMail)
                </td>



            </tr>


            <!-- 倒塌建筑-居民楼-->
            <tr>
                <td>
                    其他联系方式

                </td>

                <td>

                    @Html.DisplayFor(model => model.UOtherConnect)
                </td>

            </tr>



      


        </tbody>
    </table>
</div>
<p>

    @Html.ActionLink("修改", "Change", new { UName=Model.UName })

</p>

